body {
  background-image: url("/Knife-island.jpg");
  color: rgb(40, 2, 2);
  background-size: 1500px;
  background-repeat: no-repeat;
  font-size: x-large;
}
  
h1 {
  color: blue;
  text-align: center;
  font-size: 100px;
}

div{
  color: rgb(226, 43, 128);
  cursor: crosshair;
}